<!DOCTYPE hml>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>This is the project portfolio page. Hope I managed to deploy this to heroku etc.</p>

        {{> footer}}
    </body>
</html>